<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/css/MyStyles.css" rel="stylesheet" />
</head>
<body>
    <div class="text-white p-2" style="background-color: #335145;">
        <span class="navbar-brand ml-2">Book List</span>
    </div>

    <div class="row m-1 p-1">
        <div id="categories" class="col-3">

        </div>
        <div class="col-9">
            @RenderBody()
        </div>

    </div>





    <script src="~/lib/js/bootstrap.js"></script>
</body>
</html>
