@{
}

@model BooksViewModel

<div class="jumbotron">
    <h1>Bookstore Project</h1>
    <p class="lead">Welcome to the bookstore you didn't know you needed</p>
    <hr class="my-4">

</div>

<h4>For my Mission 10 bootstrap I made the following 2 changes:</h4>
<ol>
    <li>I changed the header for this page to be a 'jumbotron' which is basically a gian fancy header</li>
    <li>I made it so each book card would collapse and you can click it to expand and view the rest of the information</li>
</ol>

<h4>For my Mission 11 bootstrap I made the following 2 changes:</h4>
<ol>
    <li>I put all of the category filter buttons on the main book display page into something that would hide and expand to clean up the look</li>
    <li>I used bootstraps library to build a block quote about the value of reading (something appropriate haha) into the cart display page</li>
</ol>

@foreach (Book b in Model.Books)
{

    <partial name="BookSummary" model="b" />

}

<div page-model="@Model.PageInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-secondary" class="btn-group pull-right m-1">

</div>
