@page
@model Mission7.Pages.PurchaseCompletedcshtmlModel
@{
}

<div class="text-center">
    <h2>Thanks for your purchase! We'll get that ready for you.</h2>
    <a class="btn btn-secondary" asp-controller="Home">Return Home</a>
</div>